<h1>
  <span class="title">An Order for Evensong</span>
  <span class="subtitle">Daily through the Year.</span>
</h1>

{{> inNomine}}
{{> deusInAdjutorium}}

{{> hymn hymn1 }}

{{#each psalms}}
    {{> psalm this}}
{{/each}}


{{> preces preces}}

{{> verse dominusVobiscum}}
<h5>Let us pray.</h5>
{{> collect collect}}
{{> collect forPeace}}
{{> collect forAid}}

{{> hymn hymn2 }}

{{> verse dominusVobiscum}}
{{> verse benedicamusDomino}}
